@import 'styles/shared';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  min-height: 300px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #E8E9FC;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;

  &__content {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__header-wrapper {
    font: normal normal 500 24px/33px Avenir Next;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }

  &__header {
    text-align: center;
    font: normal normal 500 23px/33px Avenir Next;
    letter-spacing: 0;
    color: $color-ink;
    padding: 10px;
  }

  &__header-image {
    max-width: 204px;
    max-height: 204px;
  }

  &__sub-header {
    text-align: center;
    font: normal normal normal 14px/22px Avenir Next;
    letter-spacing: 0;
    color: #1A1A1A;
  }

  &__footer {
    margin-top: 32px;
    text-align: center;
    font: normal normal normal 14px/19px Avenir Next;
    letter-spacing: 0;
    color: $color-ink;
  }
}
