.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent url('./assets/main-background.svg') no-repeat center;
}

.main {

}
